<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.domain.mapper.UserMapper">

    <select id="getUser" resultType="com.example.domain.entity.User" parameterType="string">
        select * from sys_user where user_name = #{userName}
    </select>

    <select id="getUserById" resultType="com.example.domain.entity.User">
       select * from sys_user where id = #{id}
    </select>

</mapper>